<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyc.demo.dao.ProductMapper" >
    <resultMap id="BaseResultMap" type="com.zyc.demo.kafka.entity.Product" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="ctime" property="ctime" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, ctime
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_product
        WHERE 1=1
        <if test="name!=null and name!=''">
        AND name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>
    <insert id="insert">
        INSERT into
        tb_product(
        name,
        ctime)
        VALUES(
        #{name},
        #{ctime})
    </insert>
    <delete id="delete">
        DELETE FROM
        tb_product
        WHERE id=#{id}
    </delete>
</mapper>
