<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.jwtserver.mapper.MyUserDetailsMapper">

    <select id = "selectCount" resultType="java.lang.Integer">
        select count(1)
        from sys_admin
    </select>
    <select id="findByUserName" resultType="com.zyc.jwtserver.model.MyUserDetails">
        SELECT
            NAME AS username,
            PASSWORD
        FROM
            sys_admin
        WHERE
        name = #{username}
    </select>

    <select id="findRoleByUserName" resultType="java.lang.String">
        SELECT
            sr.NAME
        FROM
            sys_role sr,
            sys_admin_role sar,
            sys_admin sa
        WHERE
            sr.id = sar.role_id
            AND sar.admin_id = sa.id
            AND sa.NAME = #{username}
    </select>
    <select id="findAuthorityByRoleName" resultType="java.lang.String">
        SELECT
            url
        FROM
            sys_menu sm,
            sys_role_menu srm,
            sys_role sr
        WHERE
            sm.id = srm.menu_id
            AND srm.role_id = sr.id
            AND sr.NAME IN
            <foreach collection="roleNameList" item="roleName" separator="," open="(" close=")">
                #{roleName}
            </foreach>

    </select>
</mapper>
