<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<!-- bootstrap的环境依赖 -->
<link rel="stylesheet" href="./lib/bootstrap.min.css">
<script src="./lib/jquery-3.3.1.min.js" ></script>
<script src="./lib/bootstrap.min.js" ></script>
<script src="./lib/vue.js"></script>
<<script src="./lib/vue-resource-1.5.1.js" ></script>
<!-- 将来new 的Vue实例，会控制这个元素中的所有内容 -->
<div id="app">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline" >
            <label>
                Id:
                <input type="text" class="form-control" >
            </label>
            <label>
                Name:
                <input type="text" class="form-control" v-model="name">
            </label>
            <!-- 在Vue中,使用事件绑定机制,为元素指定处理函数的时候,如果加了小括号,就可以给函数传参了 -->
            <input type="button" value="添加" @click="add()" class="btn btn-primary">
            <label>
                搜索名称关键字:
                <input type="text" class="form-control">
            </label>
        </div>
    </div>

    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ctime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <!-- 之前,v-for中的数据,都是直接从data上的list中渲染过来的 -->
        <!-- 现在,我们自定义了一个search方法,同时,把所有的关键字,通过传参的形式,传递给了search方法 -->
        <!-- 在search方法内部，通过执行for循环,把所有符合搜索关键字的数据，保存到一个新数组中,返回 -->
        <tr v-for="item in list" :key="item.id">
            <td>{{ item.id }}</td>
            <td v-text="item.name"></td>
            <td>{{ item.ctime }}</td>
            <td><a href="" @click.prevent="del(item.id)">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    //如果我们通过了全局配置了请求的数据接口根域名,则在每次单独发起http请求的时候,请求的url路径,应该以相对路径开头,前面不能带/,否则不会启用根路径做拼接
    Vue.http.options.root = 'http://localhost:8080/';
    //全局启用emulateJSON选项
    Vue.http.options.emulateJSON=true;
    //创建一个Vue实例 得到ViewModel
    var vm = new Vue({
        el: '#app',
        data: {
            id:'',
            name:'',
            keywords:'',
            list: [
                {id:1,name:'奔驰',ctime:new Date()},
                {id:2,name:'宝马',ctime:new Date()}
            ]
        },
        methods:{
        	getAllList(){//获取所有的品牌列表
        		//分析
        		//1.由于已经导入了Vue-resource这个包,所以,可以直接通过this.$http来发起数据请求
        		//2.发起get请求
        		//3.this.$http.get('url').then(function(data){})
        		//4.当通过then指定回调函数之后,在回调函数中,可以拿到数据返回的result
        		//5. 先判断result.status是否等于1.如果等于1,就成功了,就可以把data.result赋值给this.result,否则弹框提醒,获取数据失败
        		
        		this.$http.get("product/list").then(data =>{
        			var data=data.body;
        			if(data.status===1){
        				this.list=data.result
        			}else{
        				alert("获取数据失败！")
        			}

        		})
        	},
            add(){//添加品牌列表到后台服务器
                //分析
                //1.发送post请求
                //2.this.$http.post()中结束三个参数
                // 2.1第一个参数：要请求的URL地址
                // 2.2第二个参数：要提交给服务器的数据,要以对象形式提交给服务器{name:this.name}
                // 2.3 第三个参数：是一个配置对象,要以哪种表单数据类型提交过去{emulateJSON:true},以普通表单形式，将数据提交给服务器
                // application/x-www-form-urlencoded
                //3.在post方法中,使用.then来设置成功的回调函数,如果想要拿到成功的结果,需要data.body
                var that=this;
                this.$http.post("product/insert",{name:this.name})
                    .then(data=> {
                    if(data.body.status===1){
                        this.getAllList();
                        this.name='';
                    }else{
                        alert("添加失败!");
                    }
                })

            },
            del(id){
                this.$http.get("product/delete?id="+id).then(data=>{
                    if(data.body.status===1){
                        this.getAllList();
                    }else{
                        alert("删除失败！")
                    }
                })

            }
        },
        created(){//当vm实例的data和methods初始化完毕后,vm实例会自动执行created这个生命周期函数
        	this.getAllList();
        }
    })
</script>
</body>
</html>